/* Superfish */
ul.sf-menu li ul {
  display: none; /* Prevent sub menus from momentarily displaying */
}
/* sf-horizontal - classic drop menu style */
.nav .block-superfish {
  padding: 0;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}
ul.sf-menu.sf-horizontal {
  padding: 0;
}
ul.sf-menu.sf-horizontal a {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border-left: none;
  border-top: none;
}
ul.sf-menu.sf-horizontal a:hover,
ul.sf-menu.sf-horizontal a:focus {
  text-decoration: none;
}
ul.sf-menu.sf-horizontal a.active,
ul.sf-menu.sf-navbar a.active,
ul.sf-menu.sf-vertical a.active {
  font-weight: 400;
}
.nav ul.sf-menu.sf-horizontal li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-horizontal li:hover ul,
ul.sf-menu.sf-horizontal li.sfHover ul {
}
ul.sf-menu.sf-horizontal a.sf-with-ul,
ul.sf-menu.sf-navbar a.sf-with-ul {
  padding-right: 25px;
}
#menu-bar .contextual-links-wrapper {
  left: 0;
  right: auto;
}
/* .sf-navbar - drop down nav bar style */
ul.sf-menu.sf-navbar {
  padding: 0;
  position: absolute;
  z-index: 99;
}
ul.sf-menu.sf-navbar a {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  border-left: none;
  border-top: none;
}
ul.sf-menu.sf-navbar a:hover,
ul.sf-menu.sf-navbar a:focus,
ul.sf-menu.sf-navbar ul ul a:hover,
ul.sf-menu.sf-navbar ul ul a:focus,
ul.sf-menu.sf-navbar ul ul ul a:hover,
ul.sf-menu.sf-navbar ul ul ul a:focus,
ul.sf-menu.sf-navbar ul ul ul ul a:hover,
ul.sf-menu.sf-navbar ul ul ul ul a:focus {
  text-decoration: none;
}
ul.sf-menu.sf-navbar ul a:hover,
ul.sf-menu.sf-navbar ul a:focus  {
  text-decoration: underline;
}
ul.sf-menu.sf-navbar li {
  margin: 0;
  padding: 0;
}
ul.sf-menu.sf-navbar li:hover ul,
ul.sf-menu.sf-navbar li.sfHover ul {
  top: 25px;
}
ul.sf-menu.sf-vertical ul,
ul.sf-menu.sf-navbar ul ul,
ul.sf-menu.sf-navbar ul ul ul,
ul.sf-menu.sf-navbar ul ul ul ul {
  width: 13em;
}
ul.sf-menu.sf-navbar ul ul ul,
ul.sf-menu.sf-navbar ul ul ul ul {
  left: 100% !important;
}
/* sf-vertical - flyout menus for sidebars */
ul.sf-menu.sf-vertical a {
  color: #fff !important; /* Tweak this to suit your color scheme */
}
ul.sf-menu.sf-vertical,
ul.sf-menu.sf-vertical ul,
ul.sf-menu.sf-vertical ul ul,
ul.sf-menu.sf-vertical ul ul ul {
  padding: 0;
  margin: 0;
}
.nav .block-content {
  padding: 5px 0 12px;
  margin: 0;
}
ul.sf-menu.sf-vertical,
ul.sf-menu.sf-vertical li {
  width: 100%;
}
ul.sf-menu.sf-vertical li:hover ul,
ul.sf-menu.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top: 0;
}
ul.sf-menu.sf-vertical a:hover,
ul.sf-menu.sf-vertical a:focus {
  text-decoration: none;
}

.sidebar #block-system-main-menu li {
    background-color: transparent;
}
.sidebar #block-system-main-menu li a{
    color: #60513A;
    text-decoration: none;
}

.sidebar #block-system-main-menu li a:hover {
    color: #3C83BB;
}


.sidebar #block-system-main-menu li li {
    background-color: transparent;
    
}
.sidebar #block-system-main-menu li li:hover {
    background-color: #CDDFE4;
}
.sidebar #block-system-main-menu li.active-trail li:hover {
    background-color: transparent;
}

.sidebar #block-system-main-menu a {
    padding: 0.25em .5em;
}

.sidebar #block-system-main-menu li.active-trail a {
    /*color: #3C83BB;*/
    background-color: transparent;
}

.sidebar #block-system-main-menu a.active {
    color: #3C83BB;
}

.sidebar #block-system-main-menu li a.active-trail:hover,
.sidebar #block-system-main-menu li.active-trail a:hover{
    background-color: transparent;
    text-decoration: none;
    color: #FF6600;
}


/* Main Menu */
#menu-bar ul li a {
    padding: 0 20px 0 5px;
    text-transform: uppercase;
}

#menu-bar ul li li a {
    text-transform: capitalize ;
}

#menu-bar li a:hover, #menu-bar li a:visited:hover,
#menu-bar li.active-trail a:link, #menu-bar li.active-trail a:hover, #menu-bar li.active-trail a:focus, #menu-bar li.active-trail a:visited, #menu-bar li.active-trail a:active, #menu-bar li.active-trail a.active, #menu-bar li.active-trail a:visited:hover {
    color: #3C83BB;
}

#menu-bar li li a:hover, #menu-bar li li a:visited:hover,
#menu-bar li a:link, #menu-bar li a:focus, #menu-bar li a:visited, #menu-bar li a:active, #menu-bar li a.active,
#menu-bar li.active-trail li a:link, #menu-bar li.active-trail li a:hover, #menu-bar li.active-trail li a:focus, #menu-bar li.active-trail li a:visited, #menu-bar li.active-trail li a:active, #menu-bar li.active-trail li a.active, #menu-bar li.active-trail li a:visited:hover
{
    color: #60513A;
}


#menu-bar {
  clear: both;
  min-height: 32px;
  line-height: 32px;
  padding: 0;
  z-index: 100; /* Needed so Superfish menus appear over flash & slideshows in IE7 */
  position: relative;
}
#menu-bar ul {
  padding: 0 15px;
}
#menu-bar ul ul {
  padding: 0;
  top: 35px;
  border: 0;
}
#menu-bar ul ul ul {
    top: 0px;
}
#menu-bar ul,
#menu-bar ul li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}
#menu-bar ul li {
  float: left;
  padding: 0;
}
#menu-bar ul li a {
  font-weight: bold;
}
#menu-bar ul li li a {
  font-weight: normal;
}
#menu-bar ul.menu li a:hover {
  background: transparent;
}
#menu-bar .block,
#menu-bar .block-inner,
#menu-bar .block-inner .block-content  {
  background: transparent;
  padding: 0;
  margin: 0;
}

